<h1>BGMatch</h1>
<div class="copy">
  <p>ふとボードゲームがやりたいと思ったが、一緒にやる相手がいない…</br>
  そんな時、手軽に近くの相手が探せるアプリです</br>
  位置情報を有効にすることで、現在地付近のイベントを探すことができます</p>
</div>
<div class="input-address">
  <p>住所から探す</p>
  <input id="address" type="textbox" value="大阪駅">
  <input type="button" value="位置検索" onclick="codeAddress()">
</div>
<div class="top-map">
  <%= render 'top_map' %>
</div>
<h4 id="participate">イベントに参加したくなったら</h4>
<div class="buttons">
  <%= link_to "アカウント登録", sign_up_path, class: "btn btn-md btn-primary" %>
  <%= link_to "ログイン", login_path, class: "btn btn-md btn-primary" %>
</div>
